<header>
    {% include menu-search.html %}

    <div class='Shared-Navigation'>
        <div class='container-fluid'>
            <div class='row'>
                <!-- <div class='col-xs-5'>&nbsp;</div> -->
                <div class='col-xs-12'>
                    <a href="" title="" class='Shared-Navigation-logo'>
                        <img src="{{ site.baseurl }}/assets/img/logoopenvayuSMALL.png" alt=""/>
                    </a>
                </div>
                <!-- <div class='col-xs-2'>&nbsp;</div> -->
            </div>
            <!-- ./Row -->
        </div>
    </div>
</header>
